/* Default button styles */
.button-image {
  display: inline-block;
  position: relative;
  width: 190px; /* Default size */
  height: auto;
  border: 4px solid black;
  box-shadow: inset -3px -3px 0px 0px #4AA52E;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition to scale */
  text-decoration: none; /* Remove default link underline */
  overflow: hidden; /* Prevent image overflow */
}

.button-image:hover {
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
  transform: scale(1.1); /* Scale the container */
}

/* Active state */
.button-image:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}

.button-image:before,
.button-image:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  z-index: -1; /* Ensure borders are behind image */
}

.button-image:before {
  top: -6px;
  left: 0;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
}

.button-image:after {
  left: -6px;
  top: 0;
  border-left: 6px solid black;
  border-right: 6px solid black;
}

/* Image styling */
.button-image img {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none; /* Ensure image doesn't block hover */
  transition: transform 0.3s ease; /* Smooth transition for image scaling */
  
  /* Set max width and height for the image */
  max-width: 100%; /* Ensure the image never exceeds the container's width */
  max-height: 160px; /* Set maximum height for the image */
}